body.publik {
    padding-top: 80px;
}

.soal {

}
.soal .tab-soal {
    border: thin solid #ccc;
    border-top: none;
    padding: 30px 10px 10px 10px;
}
.tab-soal .soal-pilihan-ganda {

}
.tab-soal .soal-isian {

}