.pengumuman .tanggal {
    background-color: #eee;
    padding: 10px;
    color: #BD8000;
    border-radius: 5px;
}
.pengumuman .tanggal .hari {
    font-size: 20px;
}
.pengumuman .tanggal .bulan {
    font-weight: bold;
    font-style: italic;
}
.pengumuman .tanggal .tahun {
    font-size: 22px;
}
.pengumuman .meta {
    font-size: 12px;
}