body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.table-krs {
    width: 100%;
}
.table-krs th, .table-krs tr, .table-krs td {
    border: 1px;
    border-style: solid;
}
.table-krs th {
    padding-left: 5px;
    height: 25px;
}
.table-krs td {
    height: 22px;
    padding-left: 5px;
}
.halaman {
    width: 21cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subhalaman {
    padding: 1cm;
    border: 5px red solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}

@halaman {
    size: A4;
    margin: 0;
}
@media print {
    .halaman {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}